<h4><%= flash["error"] %></h4>
<h4><%= flash["notice"] %></h4>

<br>

<%= form_with model: @visitor do | field | %>
  <%= label_tag :email %><br>
  <%= field.email_field :email %>

  <br>
  <br>

  <%= label_tag :password %><br>
  <%= field.password_field :password %>

  <br>
  <br>

  <%= field.submit 'Sign In' %>
<% end %>
