<% if current_visitor %>

  <h2><%= flash[:success] %></h2>

  <p>The session will reset after you logout.</p>
  <p>Registered email: <%= @current_visitor[:email] %> </p>
  <p><%= pluralize(@total, "Visitor") %> signed up.</p>

  <br>

  <p>Source code available <%= link_to 'here', "https://github.com/JuzerShakir/Session-CookieStore", target: :_blank %>.</p>
  <p>My Next <%= link_to 'project', "", target: :_blank %>.</p>

  <br>

  <%= link_to 'Logout', :logout, method: "delete" %>

<% else %>

  <%= flash[:notice] %>

  <h2>Hey Devs, Welcome to my First Portfolio</h2>
  <p>In this project, I demonstrate how to implement a session on a Rails site using the default session store, the 'CookieStore'.</p>

  <p>To see this working, <%= link_to "Sign Up", :new_visitor %> with an email (it could be any as long as its in valid email format) and password (mimimum of 6 characters).</p>

  <p>After signing up, you will be redirected to this page but now you will no longer be able to see this content until you sign out.</p>

  <br>

  <p><%= pluralize(@total, "Visitor") %> already signed up.</p>

<% end %>
