<!DOCTYPE html>
<html>
  <head>
    <title>SessionCookieStore</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- web application logo in public/assets folder -->
    <link rel="icon" type="image/png" href="/assets/favicon.png">
  </head>

  <body>

    <% if @current_visitor %>
      <%= render 'layouts/signin-header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>


    <div class='container'>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><b><%= message %></b></div>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
